Package: kmod-cfg80211
Version: 3.10.49+2014-05-22-1
Depends: kernel (=3.10.49-1-a7f84303e512c94837a166161dd231f8), iw
Source: package/kernel/mac80211
Section: kernel
Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: realtek
Installed-Size: 122242
Description:  cfg80211 is the Linux wireless LAN (802.11) configuration API.
