*~
*.la
*.lo
*.mo
*.o
*.pc
.dirstamp
.deps/
.libs/

/Logs/

/attr-*
/attr
/getfattr
/setfattr

/ABOUT-NLS
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.*
/configure
/libtool
/m4/
Makefile
Makefile.in
stamp-h1

*.log
*.trs

/include/attr
/include/config.h
/include/config.h.in
