Package: liblzo
Version: 2.08-1
Depends: libc
Source: package/libs/lzo
Section: libs
Architecture: realtek
Installed-Size: 32661
Description:  LZO is a data compression library which is suitable for data de-/compression
 in real-time. This means it favours speed over compression ratio.
