Package: igmpproxy
Version: 0.1-8
Depends: libc
Source: package/network/services/igmpproxy
Section: net
Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: realtek
Installed-Size: 14098
Description:  IGMPproxy is a simple dynamic Multicast Routing Daemon using
 only IGMP signalling (Internet Group Management Protocol).
