Package: kmod-rtl_nf
Version: 3.10.49+0.1-1
Depends: kernel (=3.10.49-1-a7f84303e512c94837a166161dd231f8)
Source: package/kernel/rtl_nf
Section: kernel
Architecture: realtek
Installed-Size: 1833
Description:  Kernel module to rtl_nf
